@font-face{
    font-family: 'DINCyr';
    src: url(../font/dincyr-regular.eot);
    src: url(../font/dincyr-regular.woff) format(woff),
    url(../font/dincyr-regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'LightAlternate';
    src: url(../font/DIN\ LightAlternate\ Regular.otf);
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(../gallery/bg-body.jpg);
    font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
    line-height: normal;
    cursor: default;
    width: 100%;
    height: 100%;
    color: #363636;
}
a{
    text-decoration: none;
    color: #707070;
}
a:hover{
	text-decoration: underline;
}
h2 {
	
	font-family: 'DINCyr', 'Arial', sans-serif; 
    line-height: normal;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #616161;
    
    margin-bottom: 20px;
	
}
p{
    margin-bottom: 15px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}    
.wrapper {
	width: 1000px;
    margin: 0 auto;
    position: relative;
}
.header {
	position: relative;
    height: 150px;
    margin-bottom: 50px;
		
}
.header .logo{
    position: absolute;
    left: 0;
    top: 0;
}
.header .phone{
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'LightAlternate', 'Arial', sans-serif;
    color:  #707070;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
    margin-bottom: 50px; 
}
.header .phone .phone-code{
    display: block;
    font-size: 30px;
}
.company-description{
    position: relative;
}
.sidebar{
    margin-right: 100px;
}
.page-main .article:first-child{
    margin-bottom: 44px;
}
.menu .menu-items{
    display: block;
}
.menu .menu-item a{
    text-transform: uppercase;
    color: #363636;
    font-family: 'DINCyr', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 38px;
    display: inline-block;
    height: 42px;
    vertical-align: middle;
}
.menu .menu-item a:hover{
    background-color: #707070;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    
}

.main-info .teams{
    display: flex;
    justify-content: space-between;
    
    
}
.main-info .teams .photo{
    width: 78px;
    height: 78px;
    
    position: relative;
    overflow: hidden;
    margin-right: 12px;
}
.main-info .teams img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 100%;
    width: auto;
    left: -100%;
    right: -100%;
    margin: auto;
}

.main-info .persons li{
    display: flex;
    margin-bottom: 16px;
}
.mane-info .persons .name{
    width: 136px;
}
.service{
    margin-left: 250px;
    margin-bottom: 60px;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #adadad;
    height: 100px;
    margin-top: -100px auto 0;
    box-sizing: border-box;
    font-family: 'Tahoma', 'Arial', sans-serif;
    color:  #707070;
    font-weight: 400;
    line-height: 15px;
    padding-top: 45px;
}
.footer .link{
    display: inline-block;
    vertical-align: top;
    
}
.footer .link-vacancy{
    
    margin-left: 20px;
}









    

 
